.formation table{
	width: 100%;
	border-collapse: collapse;
	color: #999;
	background-color: #fff;
	table-layout:fixed;
}
.formation tr{
	text-align: center;
}
.formation th{
	background: #f5f5f6;
	text-align: center;
	padding-top:6px;
	padding-bottom:6px;
	/*border-bottom: 1px solid #e7e7e7;*/
	margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #000;
    font-size:0.7rem;
        font-weight: bold;
    font-family: PingFangSC,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,"sans-serif";
}
.formation td{
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
	color: #565656;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin: 0;
	padding-top:6px;
	padding-bottom:6px;
    font-size:0.7rem;
    overflow:hidden;
}
.formation td img{
	margin:0 auto;
}
.formation td a{
	color:#06C;
	cursor: pointer;
	margin:0 4px;
}
.formation td i{
	padding: 0 6px;
}