        *, *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        div.filter {
            border: 1px solid #ddd;
            padding: 5px 15px;
        }
        div.aps-grid-fluid {
            min-width: 0;
            width: 100%;
        }
        div.aps-grid, div.aps-grid-fluid {
            margin-right: auto;
            margin-left: auto;
        }
.filter{
    font-size: 12px;
    margin-top:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
        .aps-widget {
    font-size: 12px;
}
@media (min-width: 1200px)
index.css:1
.aps-grid {
    width: 1170px;
    min-width: 0;
}
@media (min-width: 992px)
index.css:1
.aps-grid {
    width: 970px;
    min-width: 0;
}
@media (min-width: 768px)
index.css:1
.aps-grid {
    width: 750px;
    min-width: 0;
}
.aps-widget, .aps-widget * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
}
.aps-state-visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.aps-ani-transition {
    transition: .3s cubic-bezier(.4,0,.2,1);
    transform: translateZ(0);
}
.aps-widget {
    font-size: 16px;
    font-family: PingFangSC,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,"sans-serif";
    vertical-align: middle;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
div.filter .aps-grid-row {
    border-bottom: 1px dashed #ddd;
    margin-top:5px;
}
div.aps-grid-row:after, div.aps-grid-row:before {
    content: "";
    display: table;
    clear: both;
}
.aps-widget {
    font-size: 12px;
}

div.aps-grid-row {
    min-height: 1px;
    clear: both;
}
div.filter .legend {
    text-align: right;
}
div.filter .aps-grid-col {
    line-height: 20px;
    float:left;
}

div.filter .aps-grid-col-md-4 .aps-cascader, div.filter .aps-grid-col-md-4 .aps-input, div.filter .aps-grid-col-md-4 .aps-select {
    width: 238px;
}
.aps-input.aps-size-small {
    height: 28px;
}
.aps-widget input, .aps-widget select {
    vertical-align: middle;
}
.aps-input {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #d7d8d9;
}
div.filter .legend {
    text-align: right;
}
div.filter .aps-grid-col-md-7 .time-choose {
    width: 40%;
    text-align: center;
}
div.filter .aps-grid-col .to {
    padding: 0 2px;
}
div.filter .title {
    margin-top: 4px;
}
div.filter .aps-grid-row:last-child {
    border-bottom: 0;
}
div.filter .search-button .btn {
    margin-top: -1px;
}
.aps-btn.aps-btn-primary {
    background: #00c1de;
    border-color: transparent;
    color: #fff;
}
.aps-btn.aps-size-small {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0 24px;
}
.aps-btn, label.legend {
    display: inline-block;
    margin: 5px;
    font-weight: 400;
}
.aps-btn {
    border: 1px solid transparent;
}
.aps-btn.aps-btn-normal {
    background: #f7f7f7;
    border-color: #ddd;
}