body{
	font-size:14px;
    background-color: #f5f5f5;
}
.load{
    position:fixed;
    left:50%;
    top:100px;
    width: 1117px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.load .hd{
    overflow: hidden;
}
.load .hd img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    float:left;
}
.load .hd p{
    float:left;
    color:#333;
    height: 34px;
    line-height: 34px;
    max-width: 100px;
    text-indent: 10px;
    display: block;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.load .cont{
    overflow:hidden;
    margin-top: 20px;
}
.load .cont img{
    float:left;
    width: 717px;
    height:470px;
}
.load .cont .fm{
    float:left;
    background-color: #fff;
    height: 470px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}
.load .cont .fm li{
    width: 340px;
    text-align: center;
    margin-bottom:32px;
    padding:0 30px;
    height: 42px;
    overflow:hidden;
}
.load .cont .fm .l{
    margin-top: 30px;
}
.load .cont .fm .l p{
    font-size:24px;
    font-weight:bold;
}
.load .cont .fm li input{
    width: 100%;
    height: 40px;
    text-indent:10px;
    border:1px solid #ccc;
    border-radius:2px;
}
.load .cont .fm li .code{
    width: 60%;
    float:left;
}
.load .cont .fm .code img{
    float:right;
    width: 34%;
    height: 42px;
    border:0 none;
    padding:0;
    cursor:pointer;
}
.load .cont .fm .ld input{
    border:0 none;
    background-color: #337dc4;
    text-indent:0;
    color:#fff;
    cursor:pointer;
}
.load .cont .fm .forget{
    margin-bottom: 12px;
    text-align:left;
    font-size:12px;
}
.load .cont .fm .forget a{
    float:left;
    color:#337dc4;
}
.load .cont .fm .forget .reg{
    float:right;
}